.toggle_btn {
    cursor: pointer;
    margin-top: 14px;
    font-size: 16px;
}

.glyhicontainer {
    font-size: 16px;
    padding: 0px;
    margin-left: 1px;
    /* position: absolute; */
    color: #666;
 
    padding: 4px 5px 0px 5px;
    display: inline-block;
}

.toggle_container {
    margin-top: 20px;
    padding: 0px 100px 10px 0px;
}

img {
    margin-bottom: 20px;
}

.toggle_header:hover {

    text-decoration: underline;
}

.toggle_header {

    text-transform: uppercase;
}

.glyhicontainer:hover {
  
    font-weight: bold;
  
}

.fold_ud_objekt{
    margin-bottom: 10px;
    box-shadow: 2px 2px 8px #ccc;
}

hr{
    border-top: 1px solid #ddd;
}
